.funnel-container {
    background: #fff;
    padding: 6px;

    .nomargin {
        margin: 0;
    }

    .landing-page-select {
        background-color: #fff;
        height: 36px;
        width: 100%;
    }
}