.performance-container {
    background: #fff;
    .performance-table {
        margin-top: 10px;
        font-size: 22px;
        width: 95%;
        margin-bottom: 24px;
    }
    .chart-item {
        margin: 20px;
        padding: 0px;
    }
}
